<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<title>Dongeng.in - Hidupkan Dunia dengan Berbagai Cerita </title>
	<link rel="icon" href="assets/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/aos.css">
	<link rel="stylesheet" type="text/css" href="assets/css/jssocials.css">
	<link rel="stylesheet" type="text/css" href="assets/css/leaflet.css">
</head>
<body>
	<div id="navbar" class="container-fluid bg-green-darker" data-aos="fade-down">
		<div class="row section">
			<div class="col-md-3">
				<a href="./"><img src="assets/images/logo.png" id="logo" width="100%"></a>
			</div>
			<div class="col-md-9 text-right">
				<ul class="font-gotham-bold font-white font-sm">
					<a href="#"><li>Dongeng</li></a>
					<a href="#"><li>Komunitas</li></a>
					<a href="#"><li>Event</li></a>
					<li>|</li>
					<a href="#" data-toggle="modal" data-target="#LoginModal"><li>Masuk</li></a>
					<li><a href="#" class="button btn-green" data-toggle="modal" data-target="#DaftarModal">Daftar</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- MODAL LOGIN -->
	<form class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header font-white">
	        <h5 class="modal-title font-md font-gotham-bold" id="exampleModalLabel">Masuk</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center">
	        <input type="email" name="email" placeholder="Email" class="form-control input-lg"><br>
	        <input type="password" name="password" placeholder="Password" class="form-control input-lg"><br>
	      </div>
	      <div class="modal-footer text-right">
	        <button type="submit" class="button btn-green font-white font-sm">Masuk</button>
	      </div>
	    </div>
	  </div>
	</form>

	<!-- MODAL DAFTAR -->
	<form class="modal fade" id="DaftarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header font-white">
	        <h5 class="modal-title font-md font-gotham-bold" id="exampleModalLabel">Daftar</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center row">
	      	<div class="col-md-6">
	      		<input type="text" name="name" placeholder="Nama Lengkap" class="form-control input-lg"><br>
	      		<input type="email" name="email" placeholder="Email" class="form-control input-lg"><br>
	        	<input type="password" name="password" placeholder="Password" class="form-control input-lg"><br>
	        	<input type="password" name="password2" placeholder="Ulangi Password" class="form-control input-lg"><br>
	      	</div>
	      	<div class="col-md-6">
	      		<input type="number" name="phone" placeholder="Telepon" class="form-control input-lg"><br>
	      		<select class="form-control input-lg" id="prov">
	      			<option>Provinsi</option>
	      		</select><br>
	      		<select class="form-control input-lg" id="kota" name="id_kecamatan">
	      			<option>Kota</option>
	      		</select><br>
	      	</div>
	      </div>
	      <div class="modal-footer text-right">
	        <button type="submit" class="button btn-green font-white font-sm">Daftar</button>
	      </div>
	    </div>
	  </div>
	</form>

	
	<!-- HEADER -->
	<div id="header" class="container-fluid">
		<div class="row section">
			<div class="col-md-12 bg-yellow" data-aos="zoom-in-left">
				<div class="quotes-left">
					<h1 class="font-xl font-gotham-bold" data-aos="fade-right" data-aos-delay="300">"Hidupkan dunia dengan berbagi cerita."</h1>
				</div>
				<div class="quotes-right">
					<p class="font-gotham-bold font-md" data-aos="fade-left" data-aos-delay="500">~ Dongeng.in</p>
				</div>
				<img src="assets/images/head-ballon.png">
			</div>
		</div>
	</div>

	<!-- ABOUT -->
	<div id="about" class="container-fluid bg-green">
		<div class="row section">
			<div class="col-md-5 font-white font-md font-gotham-light" data-aos="fade">
				<img src="assets/images/logo_white.png" class="about-logo" width="70%">
				<p>Dongeng.in adalah aplikasi berbasis website yang menjadi tempat berkumpulnya anak-anak muda dari generasi milenial yang memiliki visi yang sama dan tergerak untuk menghidupkan budaya dongeng di Indonesia.</p>
			</div>
			<div class="col-md-7">
				<img src="assets/images/about/about1.png" width="100%" data-aos="fade-up">
				<img src="assets/images/about/star1.png" id="star" data-aos="fade-right">
			</div>
		</div>
	</div>

	<!-- DONGENG -->
	<div id="dongeng" class="container-fluid" data-aos="fade">
		<div class="row section">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide row">
						<div class="col-md-4">
							<img src="assets/images/dongeng/_.png" class="dongeng-img">
						</div>
						<div class="col-md-5">
							<div class="line bg-black"></div>
							<h2 class="font-gotham-bold font-lg">Damar Wulan</h2>
							<p class="font-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							<p><a href="#" class="button btn-green font-sm">Baca Dongeng</a></p>
							<p class="font-gotham-light font-xs"><i class="fa fa-edit"></i> <u>Rani Maharani</u></p>
						</div>
						<div class="col-md-3 text-center">
							<h1 class="font-xxl font-gotham-bold text-left">Dongeng Terbaru</h1>
						</div>		
					</div>
					<div class="swiper-slide row">
						<div class="col-md-4">
							<img src="assets/images/dongeng/_.png" class="dongeng-img">
						</div>
						<div class="col-md-5">
							<div class="line bg-black"></div>
							<h2 class="font-gotham-bold font-lg">Damar Wulan</h2>
							<p class="font-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
							<p><a href="#" class="button btn-green font-sm">Baca Dongeng</a></p>
							<p class="font-gotham-light font-xs"><i class="fa fa-edit"></i> <u>Rani Maharani</u></p>
						</div>
						<div class="col-md-3 text-center">
							<h1 class="font-xxl font-gotham-bold text-left">Dongeng Terbaru</h1>
						</div>		
					</div>
				</div>

					<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>

	<!-- FITUR -->
	<div id="fitur" class="container-fluid">
		<div class="row section">
			<div class="col-md-6 fitur-left">
				<h2 class="font-gotham-bold font-lg" data-aos="fade-right">Fitur Unggulan</h2>
				<p class="font-gotham-light font-sm" data-aos="fade" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

				<div class="text-center">
					<img src="assets/images/feature/2.png" class="feature-img" data-aos="zoom-in">
					<div data-aos="fade" data-aos-delay="200">
						<h3 class="font-gotham-bold font-md">Komunitas</h3>
						<p class="font-sm">Menemukan dan mengumpulkan pendongeng dengan komunitas terdekat yang diinginkan.</p>
						<div class="line bg-pink"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 fitur-right text-center">
				<img src="assets/images/feature/1.png" class="feature-img" data-aos="zoom-in">
				<div data-aos="fade" data-aos-delay="200">
					<h3 class="font-gotham-bold font-md">Dongeng</h3>
					<p class="font-sm">Menyediakan cerita bagi pendongeng dan pembaca dalam bentuk video maupun teks sebagai bahan mendongeng kepada anak.</p>
					<div class="line bg-green"></div>
				</div>

				<img src="assets/images/feature/3.png" class="feature-img" data-aos="zoom-in">
				<div data-aos="fade" data-aos-delay="200">
					<h3 class="font-gotham-bold font-md" >Event</h3>
					<p class="font-sm">Digunakan oleh komunitas untuk mengekspos event mendongeng yang akan mereka laksanakan</p>
					<div class="line bg-yellow"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- EVENT -->
	<div id="event" class="container-fluid">
		<div class="row section">
			<div class="col-md-6 font-white">
				<h2 class="font-gotham-bold font-lg" data-aos="fade-right">Event Terdekat</h2>
				<p class="font-gotham-light font-sm" data-aos="fade" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
		<div class="row section event-top font-white">
			<div class="col offset-1">
				<div class="event-card bg-blue-darken" data-aos="zoom-in">
					<h3 class="font-lg font-gotham-bold">
						25 Feb <span>2020</span>
					</h3>
					<h2 class="font-sm">Dongeng Post Modern</h2>
					<p class="font-xs font-gotham-light"><i class="fa fa-map"></i>&nbsp; Ketintang, Surabaya</p>
					<p class="font-xs font-gotham-light"><i class="fa fa-users"></i>&nbsp; Komunitas Wani Perih</p>
					<a href="#" class="btn btn-detail bg-white">Detail Event <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div class="event-card bg-blue-darken" data-aos="zoom-in">
					<h3 class="font-lg font-gotham-bold">
						25 Feb <span>2020</span>
					</h3>
					<h2 class="font-sm">Dongeng Post Modern</h2>
					<p class="font-xs font-gotham-light"><i class="fa fa-map"></i>&nbsp; Ketintang, Surabaya</p>
					<p class="font-xs font-gotham-light"><i class="fa fa-users"></i>&nbsp; Komunitas Wani Perih</p>
					<a href="#" class="btn btn-detail bg-white">Detail Event <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div class="event-card bg-blue-darken" data-aos="zoom-in">
					<h3 class="font-lg font-gotham-bold">
						25 Feb <span>2020</span>
					</h3>
					<h2 class="font-sm">Dongeng Post Modern</h2>
					<p class="font-xs font-gotham-light"><i class="fa fa-map"></i>&nbsp; Ketintang, Surabaya</p>
					<p class="font-xs font-gotham-light"><i class="fa fa-users"></i>&nbsp; Komunitas Wani Perih</p>
					<a href="#" class="btn btn-detail bg-white">Detail Event <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
		<div class="row section event-bottom font-white">
			<div class="col">
				<div class="event-card bg-blue-darken" data-aos="zoom-in">
					<h3 class="font-lg font-gotham-bold">
						25 Feb <span>2020</span>
					</h3>
					<h2 class="font-sm">Dongeng Post Modern</h2>
					<p class="font-xs font-gotham-light"><i class="fa fa-map"></i>&nbsp; Ketintang, Surabaya</p>
					<p class="font-xs font-gotham-light"><i class="fa fa-users"></i>&nbsp; Komunitas Wani Perih</p>
					<a href="#" class="btn btn-detail bg-white">Detail Event <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div class="event-card bg-blue-darken" data-aos="zoom-in">
					<h3 class="font-lg font-gotham-bold">
						25 Feb <span>2020</span>
					</h3>
					<h2 class="font-sm">Dongeng Post Modern</h2>
					<p class="font-xs font-gotham-light"><i class="fa fa-map"></i>&nbsp; Ketintang, Surabaya</p>
					<p class="font-xs font-gotham-light"><i class="fa fa-users"></i>&nbsp; Komunitas Wani Perih</p>
					<a href="#" class="btn btn-detail bg-white">Detail Event <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div class="event-card bg-blue-darken" data-aos="zoom-in">
					<h3 class="font-lg font-gotham-bold">
						25 Feb <span>2020</span>
					</h3>
					<h2 class="font-sm">Dongeng Post Modern</h2>
					<p class="font-xs font-gotham-light"><i class="fa fa-map"></i>&nbsp; Ketintang, Surabaya</p>
					<p class="font-xs font-gotham-light"><i class="fa fa-users"></i>&nbsp; Komunitas Wani Perih</p>
					<a href="#" class="btn btn-detail bg-white">Detail Event <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- CTA -->
	<div id="cta" class="container-fluid">
		<div class="row section">
			<div class="col-md-12 text-center">
				<h1 class="font-gotham-bold font-white font-xl" data-aos="fade-down">
					Kisahkan Ceritamu & Mulai Menginspirasi!
				</h1>
				<a href="#" class="button btn-green font-md" data-aos="fade" data-aos-delay="100">Bergabung</a>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<div id="footer" class="container-fluid bg-blue-darken">
		<div class="row section">
			<div class="col-md-3">
				<img src="assets/images/logo_white.png" width="100%">
			</div>
			<div class="col-md-9 text-right font-white font-lg">
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-facebook-square"></i></a>
				<a href="#"><i class="fa fa-youtube-square"></i></a>
			</div>
		</div>
	</div>

<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/swiper.min.js"></script>
<script type="text/javascript" src="assets/js/jssocials.js"></script>
<script type="text/javascript" src="assets/js/aos.js"></script>
<script type="text/javascript" src="assets/js/leaflet.js"></script>
<script type="text/javascript" src="assets/js/global.js"></script>
</body>
</html>